.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectedSign {
  font-size: 24px;
  font-weight: bold;
}

.controls {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}

.selectorToggle {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 25px 50px;
  }
}

@media (max-width: 680px) {
  .wrapper {
    padding: 15px 25px;
  }
}
